<div>
  <div>
    <h1>
      List of all universities
    </h1>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Uni image
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_universities.each do |a_university| %>
      <tr>

        <td>
          <%= a_university.uni_image %>
        </td>

        <td>
          <%= a_university.name %>
        </td>



        <td>
          <%= time_ago_in_words(a_university.created_at) %> ago
        </td>

        <td>
          <a href="/universities/<%= a_university.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
