<div>
  <div>
    <h1>
      <%= @the_university.name %>
    </h1>
    <div>
      <%= image_tag(@the_university.uni_image, alt: @the_university.name, width: 300, height: 300) %>
    </div>
    <div>
      <a href="/universities">
        Go back
      </a>
    </div>
  </div>
</div>

<hr>

<div>
  <h2>Alumni</h2>
  <% if @the_university.alums.any? %>
    <ul>
      <% @the_university.alums.each do |alum| %>
        <li>
          <%= alum.name %> (Email: <%= mail_to alum.email %>)
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No alumni have selected this university yet.</p>
  <% end %>
</div>

